.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100dvh;
  width: 100%;
  padding: 1em;
}

.container > * {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 1em;
}
