.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--card-large);
  aspect-ratio: 2/3;
  gap: 1em;
}

.card_wrapper > img {
  border-radius: 3em;
  width: fit-content;
  object-fit: cover;
  max-height: var(--card-large);
  overflow: hidden;
  aspect-ratio: 1/1;
}

.card_wrapper > p {
  font-size: 12pt;
  color: gray(35);
}
