* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --size: 160px;
  --card-small: var(--size);
  --card-middle: calc(var(--size) * 2);
  --card-large: calc(var(--size) * 4);
}

body {
  font-family: Roboto, "Segoe UI", "Helvetica", sans-serif;
}
